<div class="container">
  <div class="jumbotron">
      <h1 class="text-center text-success">Règles du jeu</h1>
      <p class="h4 text-center text-success">Le jeu consiste principalement a répondre aux questions successives</p>
      <br>
      <div class="row">
        <div class="col-sm">
          <p class="h5 text-center text-warning">Calcul des points </p>
          <p class="h5">Chaque bonne réponse rapporte des points</p>
          <p class="h5">Une mauvaise fait perdre des points suivant le nombre de tentatives</p>
        </div>
        <div class="col-sm">
          <p class="h5 text-center text-info">Fin du jeu </p>
          <p class="h5">Le jeu se termine lorsque vous répondez à toutes les questions</p>
          <p class="h5">Vous pouvez comparer votre place dans le classement avec les autres utilisateurs</p>
        </div>
      </div>
  </div>
</div>
