<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Welcome">Accueil</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/Classement">Classement</a>
        <a class="navbar-brand" href="/User/{{userId}}">Profile</a>
        <a class="navbar-brand" href="/Rules">Règles</a>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
