<div class="container">
  <div class="jumbotron">
      <div class="h3 text-center">
        Bienvenue dans l'interface de gestion de l'application
      </div>
      <div class="h5 p-left ">
        <h5>Ajouter des questions</h5>
        <button class="btn btn-primary " (click)="addQuestions()"> Ajouter </button>
      </div>
      <div class="p-right ">
        <h5>Gerer les droits utilisateurs</h5>
        <button class="btn btn-warning pl-2" (click)='manageUsers()'> Droits </button>
      </div>
      <br>
  </div>
</div>
